[Unit]
Description=A basic java application service

[Service]
Type=forking
ExecStart=/var/lib/JavaService/JavaServiceExecute.sh
SuccessExitStatus=143
Restart=always
User=root
WorkingDirectory=/var/lib/JavaService
RuntimeDirectory=/var/lib/JavaService
RuntimeDirectoryMode=0755

[Install]
WantedBy=multi-user.target
